  <div class="row">
     <div class="col-md-12">
    <% @posts.each do |p| %>
       <div class="column">
         <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
            <% if p.photos? %>
            <img><%= image_tag p.photos.first.medium, class:"img-response" %></img>
            <% else %> 
              <img src="..." alt="...">
            <%end%>
             <div class="caption">
               <h4><%= link_to p.title, post_path(p.id) %></h4>
               <p><span class="price"><%= p.description %></span></p>   
             </div>
           </div>
         </div>
       </div>
    <% end %>
     </div>
  </div>
</div>

<%= will_paginate @posts, previous_label: "Back", next_label: "More", inner_window: 1, outer_window: 0 %>